<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Painel de Denúncias</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- navbar -->
<div th:replace="fragments/nav :: nav"></div>

<div class="container">

	<!-- reporter.html  -->
	<!-- Denúncias de posts -->
	<div th:replace="fragments/reportposts :: reportposts(${postReports})"></div>

	<!-- Denúncias de comentários -->
	<div th:replace="fragments/reportcomments :: reportcomments(${commentReports})"></div>

	<!-- Denúncias de replies -->
	<div th:replace="fragments/reportreplies :: reportreplies(${replyReports})"></div>



</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
